:root {
  --mdc-theme-primary: #9c27b0;
  --mdc-theme-secondary: #ffab40;
  --mdc-theme-background: #fff;
}

#loader {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 90;
	background-color: rgb(43, 44, 47);
	animation: fadeup 1s;
}
#loader-image {
	position: fixed;
    z-index: 91;
    top: 50%;
    left: 50%;
    /*box-shadow: 0px 0px 15px 1px #000;*/
    transform: translate(-50%, -50%);
    animation: fadein 1.5s;
}
#loadingText {
    position: fixed;
    z-index: 92;
    top: 61.5%;
    left: 50%;
    /*box-shadow: 0px 0px 15px 1px #000;*/
    transform: translate(-50%, -50%);
    animation: fadein 2.35s;
	color: white;
}
@keyframes fadein {
	0% {
		opacity:0;
	}
	50% {
		opacity:0;
	}
	100% {
		opacity:1.0;
	}
}
@keyframes fadeup {
	0% {
		background-color: black;
	}
	100% {
		background-color: rgb(43, 44, 47);
	}
}

.hide-link {
	text-decoration: none;
}

.mdc-top-app-bar { /* Header */
	z-index: 100;
}

.drawer-nav button {
	height: 50px;
	width: 100%;
	margin: 20px;
}

.img {
    background-repeat: no-repeat;
	background-size: cover;
}

.default-img {
    background-image: url('https://resources.cnewb.co/cnco.one/Images/About.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-btn {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
}

/*

Dashboard

*/

#back-button {
	position: sticky;
	top: 10px;
	left: 10px;
	z-index: 100;
}
.back-button-white {
	color: white;
}

#dashboard-bg {
    /* background-image: url('https://resources.cnewb.co/cnco.focus/Images/login.jpg'); */
    background-color: rgb(120, 122, 127);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
	position: absolute;
	float: inherit;
	top: 0px;
	bottom: 0px;
	width: 400px;
    z-index: 10;
}

.align--right {
	right: 25px;
}

.align--left {
	left: 25px
}

html {
  --scrollbarBG: rgba(75,75,75,1);
  --thumbBG: #90A4AE;
}


#content-host {
    position: absolute;
    float: inherit;
	display: flex;
    bottom: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    right: 0px;
    z-index: 5;
	transition: all .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

	overflow-y: auto;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
	scrollbar-width: thin;

	background-color: rgba(240,240,240,0.90);
	-webkit-box-shadow: 0px 0px 25px 1.5px rgba(0,0,0, 0.34);
	box-shadow: 0px 0px 25px 1.5px rgba(0,0,0, 0.34);
	-webkit-backdrop-filter: blur(2.5px);
	backdrop-filter: blur(2.5px);

	border-radius: 0px;
}
#content-host::-webkit-scrollbar-track
{
	background: var(--scrollbarBG);
}

#content-host::-webkit-scrollbar
{
	width: 11px;
}

#content-host::-webkit-scrollbar-thumb
{
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}


@media (min-width: 1205px) {
	/* Content host: when the drawer is opened */
	.ch-drawerOut {
		background-color: rgba(222,222,222,0.90) !important;
		
		height: calc(100% - 50px) !important;
		top: 25px !important;
		width: calc(100% - 325px) !important;
		transition: all .2s;
    	transition-timing-function: cubic-bezier(.4,0,.2,1);

		border-radius: 5px 0px 0px 5px !important;

	}
	.mdl-layout__drawer {
	    top: 64px;
		height: calc(100% - 64px);
		width: 300px;
		-webkit-transform: translateX(-400px);
		transform: translateX(-400px);
		background-color: #DEDEDE;
	}
	.mdl-layout__drawer.is-visible {
		position: absolute;
    	z-index: 10;		
		opacity: .95;
		/*-webkit-box-shadow: 0px 0px 25px 1.5px rgba(0,0,0, 0.5);
		box-shadow: 0px 0px 25px 1.5px rgba(0,0,0, 0.5);
		-webkit-backdrop-filter: blur(2.5px);*/
		backdrop-filter: blur(2.5px);
		border-radius: 5px;
	}
	.mdl-layout__obfuscator.is-visible {
		visibility: hidden;
	}
	.mdl-layout__obfuscator {
		visibility: hidden;
	}
	.drawer-title {
		
	}
	.drawer-nav {
		
	}
}

@media (max-width: 1000px) and (min-width: 451px) {
	.entry {
		width: 75% !important;
		height: 65% !important;
	}
}
@media (max-width: 450px) {
	.entry {
		min-width: 100px !important;
		min-height: 175px !important;
		width: 100% !important;
		height: 200px !important;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
   		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
	}
}

#shoots-container {
	list-style-type: none; /* Remove bullets */
  	padding: 15px; /* Remove padding */
  	margin: 15px; /* Remove margins */
	display: inline;
    float: left;
	position: relative;
	padding-inline-start: 0 !important;
	justify-content: center;
	width: 100%;
	text-align: center;
}
#shoots-container li {
	display: inline-block;
	left: 0px;
	right: 0px;
	margin: 10px;
}

.entry {
	display: inline-block;
	position: relative;
	max-width: 550px;
	max-height: 350px;
	min-width: 350px;
	min-height: 250px;
    width: 450px;
    height: 350px;
    background-color: #EEEEEE;
	opacity: 1 !important;
    -webkit-box-shadow: 0px 0px 15px 0.15px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 15px 0.15px rgba(0,0,0,0.25);
    border-radius: 2.5px;
    margin: 10px;
	z-index: 11;
}
.entry-vertical {
	display: inline-block;
	position: relative;
	max-width: 550px;
	max-height: 450px;
	min-width: 350px;
	min-height: 350px;
    width: 2.5%;
    height: 450px;
    background-color: #EEEEEE;
	opacity: 1 !important;
    -webkit-box-shadow: 0px 0px 15px 0.15px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 15px 0.15px rgba(0,0,0,0.25);
    border-radius: 2.5px;
    margin: 10px;
	z-index: 11;
}

.entry-photo {
	display: table;
	width: 100%;
	height: 80%;
	background-position: 50%, 50%;
	background-repeat: no-repeat;
    background-size: cover;
}
.entry-photo--no-title {
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	object-fit: cover;
/*	background-position: 50%, 50%;*/
/*	background-repeat: no-repeat;*/
/*    background-size: cover;*/
}

.entry-title {
	position: absolute;
	display: table;
	left: 10px;
	right: 10px;
	height: 20%;
	bottom: 0px;
}
.entry-title span {
	display:table-cell;
 	vertical-align:middle;
}


#shoot-container {
	list-style-type: none; /* Remove bullets */
  	padding: 10px; /* Remove padding */
  	margin: 10px; /* Remove margins */
	display: inline-block;
    float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	justify-content: center;
	text-align: center;
}
#shoot-container li {
	display: inline-block;
	left: 0px;
	right: 0px;
}


#content-loader {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	background-color: rgb(43, 44, 47);
	animation: fadeup .5s;
}
#content-loadingText {
    position: absolute;
    z-index: 9992;
    top: 50%;
    left: 50%;
	/*box-shadow: 0px 0px 15px 1px #000;*/
    transform: translate(-50%, -50%);
	animation: fadeup .5s;
	color: #AAAAAA;
}



#image-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,.9);
	
}
#image-container-image {
	z-index: 2;
	background-size: contain;
	background-repeat:no-repeat;

	position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    /*box-shadow: 0px 0px 15px 1px #000;*/
    transform: translate(-50%, -50%);
}

/* Uploads */
#upload-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;	
}

.upload-highlighted {
	background-color: rgba(62,94,162,1) !important;
}

#upload-container form {
	margin-bottom: 10px;
	left: 50%;
	top: 50%;
	width: 95%;
	height: 95%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.upload-stretch {
	min-width: 200px;
	max-width: 500px;
	width: 90%;
	left: 50%;
	transform: translate(-50%);
}


#upload-preview {
	list-style-type: none; /* Remove bullets */
  	padding: 10px; /* Remove padding */
  	margin: 10px; /* Remove margins */
	display: inline-block;
    float: left;
	position: relative;
	justify-content: center;
	width: 100%;
	text-align: center;
}
#upload-preview li {
	display: inline-block;
	left: 0px;
	right: 0px;
	margin: 10px;
}

#fileElement {
  display: none;
}